<!DOCTYPE html>
<html>
<head>
<title>Random Sorting</title>
</head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>

<div class="container" ng-app="myApp">
<div class="jumbotron">
<h2 class="well well-lg text-center">Random Sorting System</h2>
        <div ng-controller="myCtrl" class="form-group">
        <form name="myForm">
      <label for="sorting_values">Enter The Numbers:</label>
      <input type="text" name="sorting_values" class="form-control" ng-model="sorting_values" required placeholder="Please enter the data using comma seperator" ng-pattern="numOnlyRegex">
      <span style="color:red" ng-show="myForm.sorting_values.$error.pattern">Only number are allowed</span>
      <span style="color:red" ng-show="myForm.sorting_values.$touched && myForm.sorting_values.$error.required">Please Enter the input values</span>
      <br/>
      <Button type="button" class="btn btn-primary btn-block" ng-click="sorting()">Sorting</Button>
       <Button type="button" class="btn btn-success btn-block" ng-click="getHistory()">History</Button>
   </form>
    
<div ng-show="success">
<div class="alert alert-success" >
  <strong>Success!</strong> Sorting Has been done.
</div>
     <p class="bg-success">Sorting Order : {{sortingObj.sortingList}}</p>
     <p class="bg-success">Position Changes Count : {{sortingObj.positionChangeCount}}</p>
      <p class="bg-success">Sorting Timing : {{sortingObj.timing}} m/s</p>
      </div><br/><br/>
      <table class="table table-hover" ng-show="displayHistroy">
    <thead>
      <tr>
        <th>Given Data</th>
        <th>Sorting Data</th>
        <th>Sorting Timing</th>
        <th>No of Position Changes</th>
      </tr>
    </thead>
    <tbody>
  <tr ng-repeat="x in History">
    <td>{{ x.originalList }}</td>
    <td>{{ x.sortingList }}</td>
    <td>{{ x.timing }} n/s</td>
     <td>{{ x.positionChangeCount }}</td>
  </tr>
  </tbody>
</table>
   
    </div>
</div>
</div>

<script>
      
            
            var myApp = angular.module("myApp", []);
            
            myApp.controller("myCtrl", [ '$scope', '$http', function($scope, $http) {
            	
            	    $scope.numOnlyRegex = /^[0-9,]*$/;
            	
                 $scope.success = false;
                 $scope.displayHistroy = false;
                $scope.sorting = function() {
                	$scope.displayHistroy = false;
                    $http({
                        url : 'Servlet/SortingServlet',
                        method : "POST",
                        headers: {
                            'Content-Type': 'application/json', /*or whatever type is relevant */
                            'Accept': 'application/json' /* ditto */
                        },
                        data : {
                            'sorting_values' : $scope.sorting_values
                        }
                    }).then(function(response) {
                    	$scope.success = true;
                        console.log(response.data);
                        $scope.sortingObj = response.data;
                    }, function(response) {
                        //fail case
                        console.log(response);
                        $scope.message = response;
                    });
             
                };
                
                $scope.getHistory = function() {
                	$scope.success = false;
                	$scope.displayHistroy = true;
                    $http({
                        url : 'Servlet/SortingHistory',
                        method : "POST",
                        headers: {
                            'Content-Type': 'application/json', /*or whatever type is relevant */
                            'Accept': 'application/json' /* ditto */
                        }
                    }).then(function(response) {
                        console.log(response.data);
                        $scope.History = response.data;
                    }, function(response) {
                        //fail case
                        console.log(response);
                        $scope.message = response;
                    });
             
                };
            } ]);
        </script>
</body>
</html>
